METRONOME_CARBONADDRESS='{{metronome_carbon_address}}'
METRONOME_WEBSERVERADDRESS='{{metronome_webserver_address}}'
METRONOME_STATSDIRECTORY='{{metronome_stats_directory}}'
METRONOME_USER='{{metronome_user}}'
